<section class="hero is-fullheight has-text-centered has-background-white-ter" id="about">
    <div class="hero-body">
        <div class="about-container">
            <div class="about-column-image">
                <figure class="image">
                    <img class="is-rounded" src="{{site.author-image}}" alt="{{site.author-name}}">
                </figure>
            </div>
            <div class="about-column-text-and-buttons">
                <div class="about-text">
                    <p >
                        {{site.author-about}}
                    </p>
                </div>
                <div class="about-buttons-container">
                    <a href="{{site.url}}{{site.baseurl}}/#contact"
                        class="button is-rounded is-uppercase has-text-weight-normal is-black is-outlined contact-me-button">Contact
                        Me
                    </a>
                    <a href="{{site.url}}{{site.baseurl}}/projects"
                        class="button is-rounded is-uppercase has-text-weight-normal is-black is-outlined portfolio-button">Portfolio</a>
                    </a>
                    <a href="/assets/cv/CV - Franco Sterrantino - 2024.pdf"
                        class="button is-rounded is-uppercase has-text-weight-normal is-black is-outlined cv-button">CV</a>
                    </a>
                </div>
            <div>
        </div>
</section>